/deep/ .ivu-input{
  width: 200px !important;
}

.label-btns{
  margin-left: 150px;
}

.ivu-form-item{
  padding: 10px 0;
}

.desc{
  margin-left: 10px;
  color: #999;
  font-size: 12px;
}

.ivu-input-wrapper {
  width: 150px;
  margin-right: 10px;
}

/deep/ .ivu-form-item-content {
  margin-left: 0 !important;
  display: flex;
}
